$primary-color: #3f51b5;
$primary-light-color: #757de8;
$primary-dark-color: #002984;
$primary-text-color: #ffffff;

$secondary-color: #e91e63;
$secondary-light-color: #ff6090;
$secondary-dark-color: #b0003a;
$secondary-text-color: #ffffff;

$background-color: #fafafa;
$background-color-gray: #eeeeee;
$background-color-gray-dark: #e0e0e0;
$border-color: #d5d5d5;

$mediumgray: #6e6e6e;
$darkgray: #708090;

$text-dark: #484848;