:host {
  background-color: rgba(0, 0, 0, 0.4);
}

:host,
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  .qr-window {
    width: 300px;
    height: 320px;
    border-radius: 4px;
    background: white;

    display: flex;
    flex-direction: column;

    .code {
      flex: 1;
    }

    .message {
      padding: 8px;
      color: #ababab;
      text-align: center;
    }
  }
}
