<div
  class="header"
  ngClass.lt-md="mat-elevation-z1"
  >
  <div class="date">{{ now | async | date:'LLLL d' }}</div>
  <span class="spacer"></span>
  <div class="time">{{ now | async | date:'HH:mm:ss' }}</div>
</div>
<div
  class="body"
  >
  <app-event-details
    class="event-details mat-elevation-z1"
    [entry]="entry"
    [event]="currentEvent"
    (expired)="onEventExpiration($event)"
    (update)="onEventUpdate($event)">
  </app-event-details>

  <app-event-list
    class="event-list mat-elevation-z1"
    [events]="events"
    (create)="onCreate()">
  </app-event-list>

  <app-event-create *ngIf="createLink" [link]="createLink" (close)="closeQROverlay()"></app-event-create>
</div>