<div class="header">
  <div class="date">{{ now | async | date:'LLLL d' }}</div>
  <span class="spacer"></span>
  <div class="time">{{ now | async | date:'HH:mm:ss' }}</div>
</div>
<div class="body">
  <ng-container *ngIf="entry | async as calendar">
    <app-event-details
      class="event-details mat-elevation-z1"
      (expired)="onEventExpiration($event)"
      [calendar]="calendar"
      [event]="currentEvent">
    </app-event-details>
  </ng-container>

  <ng-container *ngIf="events | async as list">
    <app-event-list
      class="event-list mat-elevation-z1"
      [events]="list.items">
    </app-event-list>
  </ng-container>
</div>