<div class="body">
  <app-event-details
    class="event-details mat-elevation-z1"
    [entry]="entry"
    [event]="currentEvent"
    (expired)="onEventExpiration($event)"
    (update)="onEventUpdate($event)">
  </app-event-details>

  <app-event-list
    class="event-list mat-elevation-z1"
    [events]="events"
    (create)="onCreate()">
  </app-event-list>

  <app-qr-overlay *ngIf="createLink" [link]="createLink" (click)="closeQROverlay()">
    <div class="qr-message">
      Tap anywhere to close
    </div>
  </app-qr-overlay>
</div>