<div class="header">
  <ng-container *ngIf="entry | async as calendar">
    {{ calendar.summary }}
  </ng-container>
  &nbsp;
</div>

<!-- NO EVENT -->
<div *ngIf="!event" [@fadeIn]="true" class="no-event">
  <span>No current event</span>
</div>

<!-- EVENT ONGOING -->
<div [@fadeIn]="true" *ngIf="event" class="body">

  <!-- EVENT INFO -->
  <div class="info">
    <h1 class="summary mat-display-1">
      {{ event.summary || '(No title)' }}
    </h1>
    <h2 class="timespan mat-h2">
      {{ event.start | date:'HH:mm' }} - {{ event.end | date:'HH:mm' }}
    </h2>
    <h2 *ngIf="timeLeft" class="left mat-subheading-2">
      {{ timeLeft }} left
    </h2>

    <!-- EXTEND TIME BUTTONS -->
    <mat-grid-list
      *ngIf="mode === MODE.EXTEND"
      [@fadeIn]="true"
      [@fadeOut]="true"
      class="extend-buttons"
      cols="3"
      rowHeight="fit"
      gutterSize="0px">

      <mat-grid-tile *ngFor="let minutes of extendDurations">
        <button mat-flat-button (click)="extendBy(minutes)">+{{ minutes }} Min</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- DISPLAY MODE BUTTONS -->
  <div *ngIf="mode === MODE.DISPLAY" class="actions">
    <button mat-flat-button (click)="onExtendClick()">Extend</button>
    <button mat-flat-button (click)="onEndClick()">End</button>
  </div>

  <!-- EXTEND MODE BUTTONS -->
  <div *ngIf="mode === MODE.EXTEND" class="actions">
    <button mat-flat-button (click)="onDoneClick()">Done</button>
    <button mat-flat-button (click)="onCancelClick()">Cancel</button>
  </div>
</div>
